<div class="amazon-wrapper" style="background-image: url('assets/images/amazon-bg.svg');">
  <div class="amazon-content-wrapper">
    <div class="amazon-header-text">
      <h2>{{ 'AMAZON.header.title' | translate }}</h2>
      <p>{{ 'AMAZON.header.description1' | translate }}</p>
      <p>{{ 'AMAZON.header.description2' | translate }}</p>
    </div>
  </div>
</div>
<div class="servicios-amazon-wrapper" >
  <div class="servicios-amazon-content">
    <h3>{{ 'AMAZON.servicios.title' | translate }}</h3>
    <p>{{ 'AMAZON.servicios.description' | translate }}</p>
    <div class="servicios-items-wrapper">
      <div class="item-medium">
        <div class="item-content">
          <div>
            <img src="assets/images/amazon-servicios-item1.svg" alt="">
            <h5>{{ 'AMAZON.servicios.item1.title' | translate }}</h5>
          </div>
          <p>{{ 'AMAZON.servicios.item1.description' | translate }}</p>
        </div>
      </div>
      <div class="item-medium">
        <div class="item-content">
          <div>
            <img src="assets/images/amazon-servicios-item2.svg" alt="">
            <h5>{{ 'AMAZON.servicios.item2.title' | translate }}</h5>
          </div>
          <p>{{ 'AMAZON.servicios.item2.description' | translate }}</p>
        </div>
      </div>
      <div class="item-small">
        <div class="item-content">
          <div>
          <img src="assets/images/amazon-servicios-item3.svg" alt="">
          <h5>{{ 'AMAZON.servicios.item3.title' | translate }}</h5>
        </div>
          <p>{{ 'AMAZON.servicios.item3.description' | translate }}</p>
        </div>
      </div>
      <div class="item-small">
        <div class="item-content">
          <div>
          <img src="assets/images/amazon-servicios-item4.svg" alt="">
          <h5>{{ 'AMAZON.servicios.item4.title' | translate }}</h5>
        </div>
          <p>{{ 'AMAZON.servicios.item4.description' | translate }}</p>
        </div>
      </div>
      <div class="item-small">
        <div class="item-content">
          <div>
          <img src="assets/images/amazon-servicios-item5.svg" alt="">
          <h5>{{ 'AMAZON.servicios.item5.title' | translate }}</h5>
        </div>
          <p>{{ 'AMAZON.servicios.item5.description' | translate }}</p>
        </div>
      </div>
      <div class="item-big">
        <div class="item-content">
          <img src="assets/images/amazon-servicios-item6.svg" alt="">
          <div>
            <h5>{{ 'AMAZON.servicios.item6.title' | translate }}</h5>
            <p>{{ 'AMAZON.servicios.item6.description' | translate }}</p>
          </div>
        </div>
        <div class="item-content mobile">
          <div>
            <img src="assets/images/amazon-servicios-item6.svg" alt="">
              <h5>{{ 'AMAZON.servicios.item6.title' | translate }}</h5>
            </div>
              <p>{{ 'AMAZON.servicios.item6.description' | translate }}</p>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="amazon-oportunidad">
  <div class="amazon-oportunidad-content">
    <img src="assets/images/oportunidad-amazon.svg" alt="">
    <h3>{{ 'AMAZON.oportunidad.title' | translate }}</h3>
    <div class="oportunidad-columns">
      <div class="oportunidad-description">
        <p>{{ 'AMAZON.oportunidad.description1' | translate }}</p>
        <p>{{ 'AMAZON.oportunidad.description2' | translate }}</p>
      </div>
      <div class="oportunidad-items">
        <div class="item">
          <h5>{{ 'AMAZON.oportunidad.item1.title' | translate }}</h5>
          <p>{{ 'AMAZON.oportunidad.item1.description' | translate }}</p>
        </div>
        <div class="item">
          <h5>{{ 'AMAZON.oportunidad.item2.title' | translate }}</h5>
          <p>{{ 'AMAZON.oportunidad.item2.description' | translate }}</p>
        </div>
        <div class="item">
          <h5>{{ 'AMAZON.oportunidad.item3.title' | translate }}</h5>
          <p>{{ 'AMAZON.oportunidad.item3.description' | translate }}</p>
        </div>
        <div class="item">
          <h5>{{ 'AMAZON.oportunidad.item4.title' | translate }}</h5>
          <p>{{ 'AMAZON.oportunidad.item4.description' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="amazon-service-item">
  <h3>{{ 'AMAZON.serviciosDescr.item1.title' | translate }}</h3>
  <ul>
    <li>{{ 'AMAZON.serviciosDescr.item1.description1' | translate }}</li>
    <li>{{ 'AMAZON.serviciosDescr.item1.description2' | translate }}</li>
    <li>{{ 'AMAZON.serviciosDescr.item1.description3' | translate }}</li>
    <li>{{ 'AMAZON.serviciosDescr.item1.description4' | translate }}</li>
  </ul>
  <div class="description-wrapper">
    <div class="text">
      <h5>{{ 'AMAZON.serviciosDescr.item1.servicios.title' | translate }}</h5>
      <ul>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item1.servicios.item1' | translate }}</li>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item1.servicios.item2' | translate }}</li>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item1.servicios.item3' | translate }}</li>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item1.servicios.item4' | translate }}</li>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item1.servicios.item5' | translate }}</li>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item1.servicios.item6' | translate }}</li>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item1.servicios.item7' | translate }}</li>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item1.servicios.item8' | translate }}</li>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item1.servicios.item9' | translate }}</li>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item1.servicios.item10' | translate }}</li>
      </ul>
    </div>
    <div class="image">
      <img src="assets/images/amazon-servicios-description-item1.svg" alt="">
    </div>
  </div>
  <div class="ventajas-wrapper">
    <h5>{{ 'AMAZON.serviciosDescr.item1.ventajas.title' | translate }}</h5>
    <ul>
      <li>{{ 'AMAZON.serviciosDescr.item1.ventajas.item1' | translate }}</li>
      <li>{{ 'AMAZON.serviciosDescr.item1.ventajas.item2' | translate }}</li>
      <li>{{ 'AMAZON.serviciosDescr.item1.ventajas.item3' | translate }}</li>
      <li>{{ 'AMAZON.serviciosDescr.item1.ventajas.item4' | translate }}</li>
      <li>{{ 'AMAZON.serviciosDescr.item1.ventajas.item5' | translate }}</li>
    </ul>
  </div>
</div>
<div class="amazon-service-item">
  <h3>{{ 'AMAZON.serviciosDescr.item2.title' | translate }}</h3>
  <ul>
    <li>{{ 'AMAZON.serviciosDescr.item2.description1' | translate }}</li>
    <li>{{ 'AMAZON.serviciosDescr.item2.description2' | translate }}</li>
    <li>{{ 'AMAZON.serviciosDescr.item2.description3' | translate }}</li>
  </ul>
  <div class="description-wrapper">
    <div class="text">
      <h5>{{ 'AMAZON.serviciosDescr.item2.servicios.title' | translate }}</h5>
      <ul>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item2.servicios.item1' | translate }}</li>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item2.servicios.item2' | translate }}</li>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item2.servicios.item3' | translate }}</li>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item2.servicios.item4' | translate }}</li>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item2.servicios.item5' | translate }}</li>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item2.servicios.item6' | translate }}</li>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item2.servicios.item7' | translate }}</li>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item2.servicios.item8' | translate }}</li>
      </ul>
    </div>
    <div class="image">
      <img src="assets/images/amazon-servicios-description-item2.svg" alt="">
    </div>
  </div>
  <div class="ventajas-wrapper">
    <h5>{{ 'AMAZON.serviciosDescr.item2.ventajas.title' | translate }}</h5>
    <ul>
      <li>{{ 'AMAZON.serviciosDescr.item2.ventajas.item1' | translate }}</li>
      <li>{{ 'AMAZON.serviciosDescr.item2.ventajas.item2' | translate }}</li>
      <li>{{ 'AMAZON.serviciosDescr.item2.ventajas.item3' | translate }}</li>
      <li>{{ 'AMAZON.serviciosDescr.item2.ventajas.item4' | translate }}</li>
      <li>{{ 'AMAZON.serviciosDescr.item2.ventajas.item5' | translate }}</li>
    </ul>
  </div>
</div>
<div class="amazon-service-item">
  <h3>{{ 'AMAZON.serviciosDescr.item3.title' | translate }}</h3>
  <ul>
    <li>{{ 'AMAZON.serviciosDescr.item3.description1' | translate }}</li>
    <li>{{ 'AMAZON.serviciosDescr.item3.description2' | translate }}</li>
    <li>{{ 'AMAZON.serviciosDescr.item3.description3' | translate }}</li>
    <li>{{ 'AMAZON.serviciosDescr.item3.description4' | translate }}</li>
    <li>{{ 'AMAZON.serviciosDescr.item3.description5' | translate }}</li>
  </ul>
  <div class="description-wrapper">
    <div class="text">
      <h5>{{ 'AMAZON.serviciosDescr.item3.servicios.title' | translate }}</h5>
      <ul>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item3.servicios.item1' | translate }}</li>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item3.servicios.item2' | translate }}</li>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item3.servicios.item3' | translate }}</li>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item3.servicios.item4' | translate }}</li>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item3.servicios.item5' | translate }}</li>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item3.servicios.item6' | translate }}</li>
      </ul>
    </div>
    <div class="image">
      <img src="assets/images/amazon-servicios-description-item1.svg" alt="">
    </div>
  </div>
  <div class="ventajas-wrapper">
    <h5>{{ 'AMAZON.serviciosDescr.item3.ventajas.title' | translate }}</h5>
    <ul>
      <li>{{ 'AMAZON.serviciosDescr.item3.ventajas.item1' | translate }}</li>
      <li>{{ 'AMAZON.serviciosDescr.item3.ventajas.item2' | translate }}</li>
      <li>{{ 'AMAZON.serviciosDescr.item3.ventajas.item3' | translate }}</li>
      <li>{{ 'AMAZON.serviciosDescr.item3.ventajas.item4' | translate }}</li>
      <li>{{ 'AMAZON.serviciosDescr.item3.ventajas.item5' | translate }}</li>
    </ul>
  </div>
</div>
<div class="amazon-service-item">
  <h3>{{ 'AMAZON.serviciosDescr.item4.title' | translate }}</h3>
  <ul>
    <li>{{ 'AMAZON.serviciosDescr.item4.description1' | translate }}</li>
    <li>{{ 'AMAZON.serviciosDescr.item4.description2' | translate }}</li>
    <li>{{ 'AMAZON.serviciosDescr.item4.description3' | translate }}</li>
  </ul>
  <div class="description-wrapper">
    <div class="text">
      <h5>{{ 'AMAZON.serviciosDescr.item4.servicios.title' | translate }}</h5>
      <ul>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item4.servicios.item1' | translate }}</li>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item4.servicios.item2' | translate }}</li>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item4.servicios.item3' | translate }}</li>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item4.servicios.item4' | translate }}</li>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item4.servicios.item5' | translate }}</li>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item4.servicios.item6' | translate }}</li>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item4.servicios.item7' | translate }}</li>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item4.servicios.item8' | translate }}</li>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item4.servicios.item9' | translate }}</li>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item4.servicios.item10' | translate }}</li>
      </ul>
    </div>
    <div class="image">
      <img src="assets/images/amazon-servicios-description-item1.svg" alt="">
    </div>
  </div>
  <div class="ventajas-wrapper">
    <h5>{{ 'AMAZON.serviciosDescr.item4.ventajas.title' | translate }}</h5>
    <ul>
      <li>{{ 'AMAZON.serviciosDescr.item4.ventajas.item1' | translate }}</li>
      <li>{{ 'AMAZON.serviciosDescr.item4.ventajas.item2' | translate }}</li>
      <li>{{ 'AMAZON.serviciosDescr.item4.ventajas.item3' | translate }}</li>
      <li>{{ 'AMAZON.serviciosDescr.item4.ventajas.item4' | translate }}</li>
      <li>{{ 'AMAZON.serviciosDescr.item4.ventajas.item5' | translate }}</li>
    </ul>
  </div>
</div>
<div class="amazon-service-item">
  <h3>{{ 'AMAZON.serviciosDescr.item5.title' | translate }}</h3>
  <ul>
    <li>{{ 'AMAZON.serviciosDescr.item5.description1' | translate }}</li>
    <li>{{ 'AMAZON.serviciosDescr.item5.description2' | translate }}</li>
    <li>{{ 'AMAZON.serviciosDescr.item5.description3' | translate }}</li>
    <li>{{ 'AMAZON.serviciosDescr.item5.description4' | translate }}</li>
  </ul>
  <div class="description-wrapper">
    <div class="text">
      <h5>{{ 'AMAZON.serviciosDescr.item5.servicios.title' | translate }}</h5>
      <ul>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item5.servicios.item1' | translate }}</li>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item5.servicios.item2' | translate }}</li>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item5.servicios.item3' | translate }}</li>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item5.servicios.item4' | translate }}</li>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item5.servicios.item5' | translate }}</li>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item5.servicios.item6' | translate }}</li>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item5.servicios.item7' | translate }}</li>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item5.servicios.item8' | translate }}</li>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item5.servicios.item9' | translate }}</li>
        <li><img src="assets/images/check-green.svg"
            alt="">{{ 'AMAZON.serviciosDescr.item5.servicios.item10' | translate }}</li>
      </ul>
    </div>
    <div class="image">
      <img src="assets/images/amazon-servicios-description-item1.svg" alt="">
    </div>
  </div>
  <div class="ventajas-wrapper">
    <h5>{{ 'AMAZON.serviciosDescr.item5.ventajas.title' | translate }}</h5>
    <ul>
      <li>{{ 'AMAZON.serviciosDescr.item5.ventajas.item1' | translate }}</li>
      <li>{{ 'AMAZON.serviciosDescr.item5.ventajas.item2' | translate }}</li>
      <li>{{ 'AMAZON.serviciosDescr.item5.ventajas.item3' | translate }}</li>
      <li>{{ 'AMAZON.serviciosDescr.item5.ventajas.item4' | translate }}</li>
      <li>{{ 'AMAZON.serviciosDescr.item5.ventajas.item5' | translate }}</li>
    </ul>
  </div>
</div>
<div class="amazon-service-item">
    <h3>{{ 'AMAZON.serviciosDescr.item6.title' | translate }}</h3>
    <ul>
      <li>{{ 'AMAZON.serviciosDescr.item6.description1' | translate }}</li>
      <li>{{ 'AMAZON.serviciosDescr.item6.description2' | translate }}</li>
      <li>{{ 'AMAZON.serviciosDescr.item6.description3' | translate }}</li>
    </ul>
    <div class="description-wrapper">
      <div class="text">
        <h5>{{ 'AMAZON.serviciosDescr.item6.servicios.title' | translate }}</h5>
        <ul>
          <li><img src="assets/images/check-green.svg"
              alt="">{{ 'AMAZON.serviciosDescr.item6.servicios.item1' | translate }}</li>
          <li><img src="assets/images/check-green.svg"
              alt="">{{ 'AMAZON.serviciosDescr.item6.servicios.item2' | translate }}</li>
          <li><img src="assets/images/check-green.svg"
              alt="">{{ 'AMAZON.serviciosDescr.item6.servicios.item3' | translate }}</li>
          <li><img src="assets/images/check-green.svg"
              alt="">{{ 'AMAZON.serviciosDescr.item6.servicios.item4' | translate }}</li>
          <li><img src="assets/images/check-green.svg"
              alt="">{{ 'AMAZON.serviciosDescr.item6.servicios.item5' | translate }}</li>
          <li><img src="assets/images/check-green.svg"
              alt="">{{ 'AMAZON.serviciosDescr.item6.servicios.item6' | translate }}</li>
          <li><img src="assets/images/check-green.svg"
              alt="">{{ 'AMAZON.serviciosDescr.item6.servicios.item7' | translate }}</li>
          <li><img src="assets/images/check-green.svg"
              alt="">{{ 'AMAZON.serviciosDescr.item6.servicios.item8' | translate }}</li>
          <li><img src="assets/images/check-green.svg"
              alt="">{{ 'AMAZON.serviciosDescr.item6.servicios.item9' | translate }}</li>
          <li><img src="assets/images/check-green.svg"
              alt="">{{ 'AMAZON.serviciosDescr.item6.servicios.item10' | translate }}</li>
        </ul>
      </div>
      <div class="image">
        <img src="assets/images/amazon-servicios-description-item1.svg" alt="">
      </div>
    </div>
    <div class="ventajas-wrapper">
      <h5>{{ 'AMAZON.serviciosDescr.item6.ventajas.title' | translate }}</h5>
      <ul>
        <li>{{ 'AMAZON.serviciosDescr.item6.ventajas.item1' | translate }}</li>
        <li>{{ 'AMAZON.serviciosDescr.item6.ventajas.item2' | translate }}</li>
        <li>{{ 'AMAZON.serviciosDescr.item6.ventajas.item3' | translate }}</li>
        <li>{{ 'AMAZON.serviciosDescr.item6.ventajas.item4' | translate }}</li>
        <li>{{ 'AMAZON.serviciosDescr.item6.ventajas.item5' | translate }}</li>
      </ul>
    </div>
  </div>
<app-como-trabajamos></app-como-trabajamos>
<app-oportunidad></app-oportunidad>
<app-oficinas></app-oficinas>
