<div class="third-row-home">
    <div class="third-row-home-content">
      <h3>{{ 'COMOTRABAJAMOS.title' | translate }}</h3>
      <p>{{ 'COMOTRABAJAMOS.description' | translate }}</p>
      <div class="items-wrapper">
        <div class="item-content">
          <img src="assets/images/como-trabajamos-item-1.svg" alt="">
          <h5>{{ 'COMOTRABAJAMOS.item1.title' | translate }}</h5>
          <p>{{ 'COMOTRABAJAMOS.item1.description' | translate }}</p>
        </div>
        <div class="item-content">
          <img src="assets/images/como-trabajamos-item-2.svg" alt="">
          <h5>{{ 'COMOTRABAJAMOS.item2.title' | translate }}</h5>
          <p>{{ 'COMOTRABAJAMOS.item2.description' | translate }}</p>
        </div>
        <div class="item-content">
          <img src="assets/images/como-trabajamos-item-3.svg" alt="">
          <h5>{{ 'COMOTRABAJAMOS.item3.title' | translate }}</h5>
          <p>{{ 'COMOTRABAJAMOS.item3.description' | translate }}</p>
        </div>
        <div class="item-content">
          <img src="assets/images/como-trabajamos-item-4.svg" alt="">
          <h5>{{ 'COMOTRABAJAMOS.item4.title' | translate }}</h5>
          <p>{{ 'COMOTRABAJAMOS.item4.description' | translate }}</p>
        </div>
        <div class="item-content">
          <img src="assets/images/como-trabajamos-item-5.svg" alt="">
          <h5>{{ 'COMOTRABAJAMOS.item5.title' | translate }}</h5>
          <p>{{ 'COMOTRABAJAMOS.item5.description' | translate }}</p>
        </div>
        <div class="item-content">
          <img src="assets/images/como-trabajamos-item-6.svg" alt="">
          <h5>{{ 'COMOTRABAJAMOS.item6.title' | translate }}</h5>
          <p>{{ 'COMOTRABAJAMOS.item6.description' | translate }}</p>
        </div>
      </div>
    </div>
  </div>