<div class="service-header-wrapper">
  <div class="service-header-content-wrapper">
    <h2>{{ 'SERVICIOS.header.title' | translate }}</h2>
    <p>{{ 'SERVICIOS.header.description1' | translate }}</p>
    <p>{{ 'SERVICIOS.header.description2' | translate }}</p>
    <p>{{ 'SERVICIOS.header.description3' | translate }}</p>
  </div>
</div>
<app-servicios-row></app-servicios-row>
<app-como-trabajamos></app-como-trabajamos>
<app-oportunidad-black></app-oportunidad-black>
<app-oficinas></app-oficinas>
