@import '../../../variables.scss';
.service-header-wrapper {
  .service-header-content-wrapper {
    width: 940px;
    max-width: 940px;
    margin: 0 auto;
    height: calc(100vh - 115px);
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    background-position: 130% 50%;
    background-repeat: no-repeat;
    h2 {
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 50px;
    }
    p {
      width: 50%;
      font-size: 21px;
      font-weight: 100;
      margin-bottom: 25px;
    }
  }
}


@media only screen and (max-width: 600px) {  
  .service-header-wrapper {
    .service-header-content-wrapper {
      width: 100%;
      padding: 10px 15px 20px;
      background-size: 100%;
      background-position: bottom center;
      min-height: 85vh;
      h2 {
        font-size: 28px;
        margin-bottom: 15px;
      }
      p {
        margin-bottom: 10px;
        font-size: 16px;
        width: 100%;
      }
    }
  }
}



