<div class="tradicional-header-wrapper" style="background-image: url('assets/images/nosotros-bg.svg');">
    <div class="tradicional-header-content-wrapper">
      <h2>{{ 'NOSOTROS.header.title' | translate }}</h2>
      <p>{{ 'NOSOTROS.header.description1' | translate }}</p>
      <p>{{ 'NOSOTROS.header.description2' | translate }}</p>
      <p>{{ 'NOSOTROS.header.description3' | translate }}</p>
    </div>
</div>
<div class="second-row-home">
    <div class="second-row-home-content">
      <div class="left-container">
        <h2>{{ 'NOSOTROS.secondRow.title' | translate }}</h2>
        <p>{{ 'NOSOTROS.secondRow.description1' | translate }}</p>
        <p>{{ 'NOSOTROS.secondRow.description2' | translate }}</p>
        <p>{{ 'NOSOTROS.secondRow.description3' | translate }}</p>
      </div>
      <div class="right-container">
        <div class="home-item">
          <img src="assets/images/home-second-row-item1.svg" alt="">
          <h5>{{ 'NOSOTROS.secondRow.item1.title' | translate }}</h5>
          <p>{{ 'NOSOTROS.secondRow.item1.description' | translate }}</p>
        </div>
        <div class="home-item">
          <img src="assets/images/home-second-row-item2.svg" alt="">
          <h5>{{ 'NOSOTROS.secondRow.item2.title' | translate }}</h5>
          <p>{{ 'NOSOTROS.secondRow.item2.description' | translate }}</p>
        </div>
        <div class="home-item">
          <img src="assets/images/home-second-row-item3.svg" alt="">
          <h5>{{ 'NOSOTROS.secondRow.item3.title' | translate }}</h5>
          <p>{{ 'NOSOTROS.secondRow.item3.description' | translate }}</p>
        </div>
        <div class="home-item">
          <img src="assets/images/home-second-row-item4.svg" alt="">
          <h5>{{ 'NOSOTROS.secondRow.item4.title' | translate }}</h5>
          <p>{{ 'NOSOTROS.secondRow.item4.description' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
  <app-oportunidad-black></app-oportunidad-black>
<app-oficinas></app-oficinas>