@import '../../../variables.scss';
.tradicional-header-wrapper {
  background-image: url("/assets/images/tradicional-main-bg.svg");
    background-position: 100% 50%;
    background-repeat: no-repeat;
  .tradicional-header-content-wrapper {
    width: 940px;
    max-width: 940px;
    margin: 0 auto;
    height: calc(100vh - 115px);
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    h2 {
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 50px;
    }
    p {
      width: 50%;
      font-size: 21px;
      font-weight: 100;
      margin-bottom: 25px;
    }
  }
}

.second-row-home {
  .second-row-home-content {
    width: 940px;
    max-width: 940px;
    margin: 0 auto;
    padding: 55px 0 56px 0;
    display: flex;
    .left-container {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-right: 30px;
      h2 {
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 65px;
      }
      p {
        font-size: 25px;
        font-weight: 100;
        margin-bottom: 25px;
      }
    }
    .right-container {
      width: 60%;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
      padding-top: 20px;
      padding-right: 70px;
      .home-item {
        width: 50%;
        margin-bottom: 50px;
        padding-right: 15px;
        h5 {
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 20px;
          margin-top: 15px;
        }
        p {
          font-size: 20px;
          font-weight: 100;
        }
      }

    }
  }
}

.fourth-row-wrapper {
  padding: 50px 0;
  .fourth-row-content {
    width: 940px;
    max-width: 940px;
    margin: 0 auto;
    position: relative;
    overflow-y: hidden;
    padding: 50px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    h4 {
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 17px;
    }
    p {
      font-size: 21px;
      font-weight: 100;
      margin-bottom: 15px;
      width: 60%;
      position: relative;
      z-index: 2;
    }
    a {
      background-color: $primary-color;
      color: #fff;
      text-transform: uppercase;
      padding: 15px 20px;
      border-radius: 4px;
      text-decoration: none;
    }
    img {
      position: absolute;
      top: 25%;
      right: 10px;
    }
  }
}

.third-row-wrapper {
  padding: 00px 0;
  .third-row-content {
    width: 940px;
    max-width: 940px;
    margin: 0 auto;
    position: relative;
    overflow-y: hidden;
    padding: 50px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    h4 {
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 17px;
      margin-left: 40%;
    }
    p {
      font-size: 21px;
      font-weight: 100;
      margin-bottom: 15px;
      width: 60%;
      margin-left: 40%;
      position: relative;
      z-index: 2;
    }
    a {
      background-color: $primary-color;
      color: #fff;
      text-transform: uppercase;
      padding: 15px 20px;
      border-radius: 4px;
      margin-left: 40%;
      text-decoration: none;
    }
    img {
      position: absolute;
      left: 70px;
      top: 10%;
    }
  }
}