<div class="oportunidad-wrapper">
  <div class="oportuniddad-content-wrapper">
    <div class="text-oportunidad-wrapper">
      <h3>¿Trabajamos juntos?</h3>
      <p>Si estás pensando que podemos colaborar juntos para lanzar o crecer un proyecto, no dudes en ponerte en contacto. Responderemos tan pronto como podamos!</p>
      <a routerLink="[/contacto">Contactar</a>
    </div>
    <div class="image-oportunidad-wrapper">
      <img src="/assets/images/contact-image.svg" alt="">
    </div>
  </div>
</div>