.amazon-wrapper {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 220% 100%;
  margin-top: -20px;
  .amazon-content-wrapper {
    width: 940px;
    max-width: 940px;
    margin: 0 auto;
    .amazon-header-text {
      padding-top: 75px;
      min-height: 90vh;
      width: 40%;
      display: flex;
      flex-direction: column;
      h2 {
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 50px;
      }
      p {
        font-size: 21px;
        font-weight: 300;
        margin-bottom: 35px;
      }
    }
  }
}
.servicios-amazon-wrapper {
  background-color: rgba(243,243,243,.25);
  .servicios-amazon-content {
    width: 940px;
    max-width: 940px;
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 90px;
    a {
      text-decoration: none;
    } 
    h3 {
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 25px;
      text-align: center;
    }
    p {
      font-size: 21px;
      font-weight: 300;
      margin-bottom: 50px;
      text-align: center;
    }
    .servicios-items-wrapper {
      display: flex;
      flex-wrap: wrap;
      .item-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 38px 38px 30px 38px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        h5 {
          font-size: 28px;
          font-weight: 700;
          margin-bottom: 0;
          margin-top: 10px;
        }
        p {
          font-size: 18px;
          font-weight: 300;
          text-align: left;
          margin-left: 25px;
          width: 85%;
          margin-bottom: 0;
        }
      }
      .item-medium {
        width: 50%;
        padding: 0 15px;
      }
      .item-small {
        width: 33.333%;
        padding: 0 15px;
        margin-top: 30px;
        .item-content {
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          h5 {
            margin-bottom: 20px;
          }
          p {
            margin-left: 0;
            width: 100%;
          }
        }
      }
      .item-big {
        width: 100%;
        padding: 0 15px;
        margin-top: 30px;
        .item-content {
          padding-top: 10px;
          padding-bottom: 10px;
        }
        h5 {
          margin-bottom: 20px;
          margin-top: 0;
          margin-left: 0px;
          min-width: 320px;
        }
      }
    }
  }
}
.amazon-oportunidad {
  .amazon-oportunidad-content {
    width: 940px;
    max-width: 940px;
    margin: 0 auto;
    padding: 90px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      font-size: 36px;
      text-align: center;
      font-weight: 700;
      margin-bottom: 45px;
      margin-top: -20px;
    }
    img {
      text-align: center;
    }
    .oportunidad-columns {
      display: flex;
      .oportunidad-description {
        width: 40%;
        padding-right: 35px;
        p {
          font-size: 25px;
          font-weight: 300;
          margin-bottom: 25px;
        }
      }
        .oportunidad-items {
          display: flex;
          flex-wrap: wrap;
          padding-left: 0px;
          width: 60%;
          .item {
            width: 50%;
            padding-left: 35px;
            margin-bottom: 50px;
            h5 {
              font-size: 24px;
              font-weight: 700;
              margin-bottom: 15px;
            }
            p {
              font-size: 20px;
              font-weight: 300;
            }
          }
        }
    }
  }
}
.amazon-service-item {
  width: 940px;
  max-width: 940px;
  margin: 0 auto;
  padding: 0 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 22px;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
    width: 60%;
    li {
      list-style-type: none;
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 15px;
      text-align: center;
    }
  }
  .description-wrapper {
    display: flex;
    width: 100%;
    .text {
      width: 50%;
      h5 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 25px;
      }
      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        li {
        list-style-type: none;
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: 300;
        display: flex;
        align-items: flex-start;
        text-align: left;
        img {
          margin-right: 25px;
          width: 12px;
          margin-top: 5px;
        }
      }
    }
    }
    .image {
      width: 50%;
      display: flex;
      align-items: center;
      padding-left: 50px;
    }
  }
  .ventajas-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    h5 {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 25px;
    }
    ul {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      flex-direction: row;
      li {
        padding: 0px 0px;
          line-height: 25px;
          width: 80%;
          text-align: left;
          margin-right: 15px;
          margin-bottom: 15px;
          border-radius: 4px;
      }
    }
  }
}

@media only screen and (max-width: 600px) { 
  .amazon-wrapper {
    background-size: 83%;
    background-position: bottom center;
    width: 100%;
    .amazon-content-wrapper {
      width: 100%;
      .amazon-header-text {
        width: 100%;
        padding: 20px 15px;
        min-height: 85vh;
        h2 {
          font-size: 28px;
          margin-bottom: 15px;
        }
        p {
          font-size: 17px;
        }
      }
    }
  }
  .servicios-amazon-wrapper {
    .servicios-amazon-content {
      width: 100%;
      padding: 30px 15px;
      h3 {
        font-size: 24px;
      }
      p {
        font-size: 18px;
        margin-bottom: 15px;
      }
      .servicios-items-wrapper {
        .item-content {
          padding: 15px;
          align-items: flex-start;
          div {
            h5 {
              font-size: 18px;
            }
          }
          p {
            font-size: 14px;
            margin-bottom: 20px;
          }
        }
        .item-medium {
          padding: 0 0 10px 0;
          width: 100%;
          div {
            min-width: 30%;
            img {
              width: 75px;
            }
          }
        }
        .item-medium:first-child {
          padding: 0 0 10px 0;
        }
        .item-small, .item-big {
          padding: 0;
          width: 100%;
          .item-content {
            min-height: auto;
            flex-direction: row;
            p {
              margin-left:  25px;
            }
            h5 {
              margin-bottom: 0;
            }
          }
          div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            min-width: 30%;
            h5 {
              font-size: 18px;
              margin-bottom: 0px;
            }
          }
          p {
            font-size: 14px;
          }
          img {
            width: 75px;
          }
        }
        .item-small:nth-child(odd) {
          padding: 0 0 10px 0;
          margin: 0;
        }
        .item-small:nth-child(even) {
          padding: 0 0 10px 0;
          margin: 0;
        }
        .item-big {
          padding: 0 0 10px 0;
          margin: 0;
          .item-content {
            display: none;
          }
          .item-content.mobile {
            display: flex;
            div {
              width: 30%;
            }
            h5 {
              margin-left: 0;
              margin-top: 10px;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .amazon-oportunidad {
    .amazon-oportunidad-content {
      width: 100%;
      padding: 30px 15px;
      img {
        width: 70%;
      }
      h3 {
        font-size: 24px;
        margin-bottom: 20px;
      }
      .oportunidad-columns {
        flex-direction: column;
        .oportunidad-description {
          width: 100%;
          p {
            font-size: 16px;
          }
        }
        .oportunidad-items {
          width: 100%;
          .item {
            padding-left: 0;
            padding-right: 10px;
            h5 {
              font-size: 17px;
            }
            p {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
  .amazon-service-item {
    width: 100%;
    padding: 0px 15px 30px;
    h3 {
      font-size: 28px;
    }
    ul {
      margin-bottom: 0px;
      width: 90%;
      li {
        font-size: 15px;
        margin-bottom: 15px;
      }
    }
    .description-wrapper {
      width: 100%;
      flex-direction: column;
      .text {
        order: 2;
        width: 100%;
        padding: 0 0px;
        h5 {
          font-size: 18px;
          margin-bottom: 15px;
        }
        ul {
          li {
            font-size: 15px;
            margin-bottom: 10px;
          }
        }
      }
      .image {
        width: 100%;
        order: 1;
        padding: 0;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        img {
          width: 280px;
        }
      }
    }
    .ventajas-wrapper {
      h5 {
        font-size: 18px;
        margin-top: 25px;
        margin-bottom: 15px;
      }
      ul {
        li {
          font-size: 15px;
          margin-bottom: 10px;
          text-align: left;
        }
      }
    }
  }
}