<div class="amazon-wrapper" style="background-image: url('assets/images/manomano-bg.svg');">
    <div class="amazon-content-wrapper">
      <div class="amazon-header-text">
        <h2>{{ 'MANOMANO.header.title' | translate }}</h2>
        <p>{{ 'MANOMANO.header.description1' | translate }}</p>
        <p>{{ 'MANOMANO.header.description2' | translate }}</p>
      </div>
    </div>
  </div>
  <div class="servicios-amazon-wrapper">
    <div class="servicios-amazon-content">
      <h3>{{ 'MANOMANO.servicios.title' | translate }}</h3>
      <p>{{ 'MANOMANO.servicios.description' | translate }}</p>
      <div class="servicios-items-wrapper">
        <div class="item-medium">
            <a href="manomano#consultoria">
          <div class="item-content">
            <div>
              <img src="assets/images/amazon-servicios-item1.svg" alt="">
              <h5>{{ 'MANOMANO.servicios.item1.title' | translate }}</h5>
            </div>
            <p>{{ 'MANOMANO.servicios.item1.description' | translate }}</p>
          </div>
            </a>
        </div>
        
        <div class="item-medium">
            <a href="manomano#contenidos">
          <div class="item-content">
            <div>
            <img src="assets/images/amazon-servicios-item3.svg" alt="">
            <h5>{{ 'MANOMANO.servicios.item3.title' | translate }}</h5>
          </div>
            <p>{{ 'MANOMANO.servicios.item3.description' | translate }}</p>
          </div>
          </a>
        </div>
        <div class="item-big">
          <a href="manomano#analitica">
        <div class="item-content">
          <div>
            <img src="assets/images/amazon-servicios-item2.svg" alt="">
            <h5>{{ 'MANOMANO.servicios.item2.title' | translate }}</h5>
          </div>
          <p>{{ 'MANOMANO.servicios.item2.description' | translate }}</p>
        </div>
        </a>
      </div>
        <div class="item-big">
            <a href="manomano#formacion">
          <div class="item-content">
            <div>
            <img src="assets/images/amazon-servicios-item4.svg" alt="">
            <h5>{{ 'MANOMANO.servicios.item4.title' | translate }}</h5>
          </div>
            <p>{{ 'MANOMANO.servicios.item4.description' | translate }}</p>
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="amazon-oportunidad">
    <div class="amazon-oportunidad-content">
      <img src="assets/images/oportunidad-MANOMANO.svg" alt="">
      <h3>{{ 'MANOMANO.oportunidad.title' | translate }}</h3>
      <div class="oportunidad-columns">
        <div class="oportunidad-description">
          <p>{{ 'MANOMANO.oportunidad.description1' | translate }}</p>
          <p>{{ 'MANOMANO.oportunidad.description2' | translate }}</p>
        </div>
        <div class="oportunidad-items">
          <div class="item">
            <h5>{{ 'MANOMANO.oportunidad.item1.title' | translate }}</h5>
            <p>{{ 'MANOMANO.oportunidad.item1.description' | translate }}</p>
          </div>
          <div class="item">
            <h5>{{ 'MANOMANO.oportunidad.item2.title' | translate }}</h5>
            <p>{{ 'MANOMANO.oportunidad.item2.description' | translate }}</p>
          </div>
          <div class="item">
            <h5>{{ 'MANOMANO.oportunidad.item3.title' | translate }}</h5>
            <p>{{ 'MANOMANO.oportunidad.item3.description' | translate }}</p>
          </div>
          <div class="item">
            <h5>{{ 'MANOMANO.oportunidad.item4.title' | translate }}</h5>
            <p>{{ 'MANOMANO.oportunidad.item4.description' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="amazon-service-item-wrapper">
  <div class="amazon-service-item" id="consultoria">
    <h3>{{ 'MANOMANO.serviciosDescr.item1.title' | translate }}</h3>
    <ul>
      <li>{{ 'MANOMANO.serviciosDescr.item1.description1' | translate }}</li>
      <li>{{ 'MANOMANO.serviciosDescr.item1.description2' | translate }}</li>
      <li>{{ 'MANOMANO.serviciosDescr.item1.description3' | translate }}</li>
      <li>{{ 'MANOMANO.serviciosDescr.item1.description4' | translate }}</li>
    </ul>
    <div class="description-wrapper">
      <div class="text">
        <h5>{{ 'MANOMANO.serviciosDescr.item1.servicios.title' | translate }}</h5>
        <ul>
          <li><img src="assets/images/check-green.svg"
              alt="">{{ 'MANOMANO.serviciosDescr.item1.servicios.item1' | translate }}</li>
          <li><img src="assets/images/check-green.svg"
              alt="">{{ 'MANOMANO.serviciosDescr.item1.servicios.item2' | translate }}</li>
          <li><img src="assets/images/check-green.svg"
              alt="">{{ 'MANOMANO.serviciosDescr.item1.servicios.item3' | translate }}</li>
          <li><img src="assets/images/check-green.svg"
              alt="">{{ 'MANOMANO.serviciosDescr.item1.servicios.item4' | translate }}</li>
          <li><img src="assets/images/check-green.svg"
              alt="">{{ 'MANOMANO.serviciosDescr.item1.servicios.item5' | translate }}</li>
          <li><img src="assets/images/check-green.svg"
              alt="">{{ 'MANOMANO.serviciosDescr.item1.servicios.item6' | translate }}</li>
        </ul>
      </div>
      <div class="image">
        <img src="assets/images/manomano-servicios-description-item1.jpg" alt="" width="150%;">
      </div>
    </div>
    <div class="ventajas-wrapper">
      <h5>{{ 'MANOMANO.serviciosDescr.item1.ventajas.title' | translate }}</h5>
      <ul>
        <li>{{ 'MANOMANO.serviciosDescr.item1.ventajas.item1' | translate }}</li>
      </ul>
    </div>
  </div>
</div>
  <div class="amazon-service-item-wrapper">
  <div class="amazon-service-item" id="contenidos">
    <h3>{{ 'MANOMANO.serviciosDescr.item2.title' | translate }}</h3>
    <ul>
      <li>{{ 'MANOMANO.serviciosDescr.item2.description1' | translate }}</li>
      <li>{{ 'MANOMANO.serviciosDescr.item2.description2' | translate }}</li>
      <li>{{ 'MANOMANO.serviciosDescr.item2.description3' | translate }}</li>
      <li>{{ 'MANOMANO.serviciosDescr.item2.description4' | translate }}</li>
    </ul>
    <div class="description-wrapper">
      <div class="text">
        <h5>{{ 'MANOMANO.serviciosDescr.item2.servicios.title' | translate }}</h5>
        <ul>
          <li><img src="assets/images/check-green.svg"
              alt="">{{ 'MANOMANO.serviciosDescr.item2.servicios.item1' | translate }}</li>
          <li><img src="assets/images/check-green.svg"
              alt="">{{ 'MANOMANO.serviciosDescr.item2.servicios.item2' | translate }}</li>
          <li><img src="assets/images/check-green.svg"
              alt="">{{ 'MANOMANO.serviciosDescr.item2.servicios.item3' | translate }}</li>
          <li><img src="assets/images/check-green.svg"
              alt="">{{ 'MANOMANO.serviciosDescr.item2.servicios.item4' | translate }}</li>
          <li><img src="assets/images/check-green.svg"
              alt="">{{ 'MANOMANO.serviciosDescr.item2.servicios.item5' | translate }}</li>
        </ul>
      </div>
      <div class="image">
        <img src="assets/images/manomano-servicios-description-item2.jpg" alt="" width="150%">
      </div>
    </div>
    <div class="ventajas-wrapper">
      <h5>{{ 'MANOMANO.serviciosDescr.item2.ventajas.title' | translate }}</h5>
      <ul>
        <li>{{ 'MANOMANO.serviciosDescr.item2.ventajas.item1' | translate }}</li>
      </ul>
    </div>
  </div>
</div>
  <div class="amazon-service-item-wrapper">
  <div class="amazon-service-item" id="analitica">
    <h3>{{ 'MANOMANO.serviciosDescr.item3.title' | translate }}</h3>
    <ul>
      <li>{{ 'MANOMANO.serviciosDescr.item3.description1' | translate }}</li>
      <li>{{ 'MANOMANO.serviciosDescr.item3.description2' | translate }}</li>
      <li>{{ 'MANOMANO.serviciosDescr.item3.description3' | translate }}</li>
      <li>{{ 'MANOMANO.serviciosDescr.item3.description4' | translate }}</li>
    </ul>
    <div class="description-wrapper" style="align-items: center;">
      <div class="text">
        <h5>{{ 'MANOMANO.serviciosDescr.item3.servicios.title' | translate }}</h5>
        <ul>
          <li><img src="assets/images/check-green.svg"
              alt="">{{ 'MANOMANO.serviciosDescr.item3.servicios.item1' | translate }}</li>
          <li><img src="assets/images/check-green.svg"
              alt="">{{ 'MANOMANO.serviciosDescr.item3.servicios.item2' | translate }}</li>
          <li><img src="assets/images/check-green.svg"
              alt="">{{ 'MANOMANO.serviciosDescr.item3.servicios.item3' | translate }}</li>
        </ul>
      </div>
      <div class="image">
        <img src="assets/images/manomano-servicios-description-item5.jpg" alt="" width="150%">
      </div>
    </div>
    <div class="ventajas-wrapper">
      <h5>{{ 'MANOMANO.serviciosDescr.item3.ventajas.title' | translate }}</h5>
      <ul>
        <li>{{ 'MANOMANO.serviciosDescr.item3.ventajas.item1' | translate }}</li>
      </ul>
    </div>
  </div>
  <div class="amazon-service-item-wrapper"></div>
  
  <div class="amazon-service-item" id="formacion">
    <h3>{{ 'MANOMANO.serviciosDescr.item4.title' | translate }}</h3>
    <ul>
      <li>{{ 'MANOMANO.serviciosDescr.item4.description1' | translate }}</li>
      <li>{{ 'MANOMANO.serviciosDescr.item4.description2' | translate }}</li>
    </ul>
    <div class="description-wrapper">
      <div class="text">
        <h5>{{ 'MANOMANO.serviciosDescr.item4.servicios.title' | translate }}</h5>
        <ul>
          <li><img src="assets/images/check-green.svg"
              alt="">{{ 'MANOMANO.serviciosDescr.item4.servicios.item1' | translate }}</li>
          <li><img src="assets/images/check-green.svg"
              alt="">{{ 'MANOMANO.serviciosDescr.item4.servicios.item2' | translate }}</li>
          <li><img src="assets/images/check-green.svg"
              alt="">{{ 'MANOMANO.serviciosDescr.item4.servicios.item3' | translate }}</li>
        </ul>
      </div>
      <div class="image">
        <img src="assets/images/amazon-servicios-description-item6.jpg" alt="">
      </div>
    </div>
    <div class="ventajas-wrapper">
      <h5>{{ 'MANOMANO.serviciosDescr.item4.ventajas.title' | translate }}</h5>
      <ul>
        <li>{{ 'MANOMANO.serviciosDescr.item4.ventajas.item1' | translate }}</li>
      </ul>
    </div>
  </div>
</div>
  <app-como-trabajamos></app-como-trabajamos>
  <app-oportunidad></app-oportunidad>
  <app-oficinas></app-oficinas>
  