<div class="landing-header-wrapper">
  <div class="landing-header-content-wrapper" style="background-image: url('assets/images/home-main-bg.svg')">
    <h1>{{ 'HOME.header.titleOne' | translate }}</h1>
    <h1>{{ 'HOME.header.titleTwo' | translate }}</h1>
    <h1>{{ 'HOME.header.titleThree' | translate }}</h1>
    <div class="buttons-landing-wrapper">
      <a href="">{{ 'HOME.header.buttonOne' | translate }}</a>
      <a href="">{{ 'HOME.header.buttonTwo' | translate }}</a>
    </div>
  </div>
</div>
<div class="second-row-home">
  <div class="second-row-home-content">
    <div class="left-container">
      <h2>{{ 'HOME.secondRow.title' | translate }}</h2>
      <p>{{ 'HOME.secondRow.description1' | translate }}</p>
      <p>{{ 'HOME.secondRow.description2' | translate }}</p>
    </div>
    <div class="right-container">
      <div class="home-item">
        <img src="assets/images/home-second-row-item1.svg" alt="">
        <h5>{{ 'HOME.secondRow.item1.title' | translate }}</h5>
        <p>{{ 'HOME.secondRow.item1.description' | translate }}</p>
      </div>
      <div class="home-item">
        <img src="assets/images/home-second-row-item2.svg" alt="">
        <h5>{{ 'HOME.secondRow.item2.title' | translate }}</h5>
        <p>{{ 'HOME.secondRow.item2.description' | translate }}</p>
      </div>
      <div class="home-item">
        <img src="assets/images/home-second-row-item3.svg" alt="">
        <h5>{{ 'HOME.secondRow.item3.title' | translate }}</h5>
        <p>{{ 'HOME.secondRow.item3.description' | translate }}</p>
      </div>
      <div class="home-item">
        <img src="assets/images/home-second-row-item4.svg" alt="">
        <h5>{{ 'HOME.secondRow.item4.title' | translate }}</h5>
        <p>{{ 'HOME.secondRow.item4.description' | translate }}</p>
      </div>
    </div>
  </div>
</div>
<app-como-trabajamos></app-como-trabajamos>
<app-servicios-row></app-servicios-row>
  <div class="fifth-row-home">
      <div class="fifth-row-home-content">
          <h3>{{ 'HOME.fifthRow.title' | translate }}</h3>
          <p>{{ 'HOME.fifthRow.description' | translate }}</p>
          <div class="logo-project-wrapper">
            <img src="assets/images/logo-1.svg" alt="">
            <img src="assets/images/logo-2.svg" alt="">
            <img src="assets/images/logo-3.svg" alt="">
            <img src="assets/images/logo-4.svg" alt="">
            <img src="assets/images/logo-5.svg" alt="">
          </div>
      </div>
    </div>

<app-oportunidad></app-oportunidad>
<app-oficinas></app-oficinas>
