<div class="fourth-row-home">
    <div class="fourth-row-home-content">
        <h3>{{ 'HOME.fourthRow.title' | translate }}</h3>
        <p>{{ 'HOME.fourthRow.description' | translate }}</p>
        <div class="items-wrapper">
          <div class="item-content">
            <img src="assets/images/home-fourth-row-item1.svg" alt="">
            <h4>{{ 'HOME.fourthRow.item1.title' | translate }}</h4>
            <p>{{ 'HOME.fourthRow.item1.description1' | translate }}</p>
            <p>{{ 'HOME.fourthRow.item1.description2' | translate }}</p>
            <a [routerLink]="['/tradicional']">{{ 'HOME.fourthRow.item1.button' | translate }}</a>
          </div>
          <div class="item-content">
              <img src="assets/images/home-fourth-row-item2.svg" alt="">
              <h4>{{ 'HOME.fourthRow.item2.title' | translate }}</h4>
              <p>{{ 'HOME.fourthRow.item2.description1' | translate }}</p>
              <p>{{ 'HOME.fourthRow.item1.description2' | translate }}</p>
              <a [routerLink]="['/digital']">{{ 'HOME.fourthRow.item2.button' | translate }}</a>
            </div>
        </div>
    </div>
  </div>