@import '../../../variables.scss';
.digital-header-wrapper {
  background-position: -20% 50%;
  background-repeat: no-repeat;
  .digital-header-content-wrapper {
    width: 940px;
    max-width: 940px;
    margin: 0 auto;
    height: calc(100vh - 115px);
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    h2 {
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 50px;
      margin-left: 50%;
    }
    p {
      width: 50%;
      font-size: 21px;
      font-weight: 300;
      margin-bottom: 25px;
      margin-left: 50%;
    }
  }
}
.second-row-wrapper {
  padding: 50px 0;
  .second-row-content {
    width: 940px;
    max-width: 940px;
    margin: 0 auto;
    position: relative;
    overflow-y: hidden;
    padding: 50px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    h4 {
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 17px;
    }
    p {
      font-size: 21px;
      font-weight: 300;
      margin-bottom: 15px;
      width: 60%;
    }
    a {
      background-color: $primary-color;
      color: #fff;
      text-transform: uppercase;
      padding: 15px 20px;
      border-radius: 4px;
      text-decoration: none;
      cursor: pointer;
    }
    img {
      position: absolute;
      bottom: -30px;
      right: 50px;
    }
  }
}

.third-row-wrapper {
  padding: 50px 0;
  .third-row-content {
    width: 940px;
    max-width: 940px;
    margin: 0 auto;
    position: relative;
    overflow-y: hidden;
    padding: 50px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    h4 {
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 17px;
      margin-left: 40%;
    }
    p {
      font-size: 21px;
      font-weight: 300;
      margin-bottom: 15px;
      width: 60%;
      margin-left: 40%;
    }
    a {
      background-color: $primary-color;
      color: #fff;
      text-transform: uppercase;
      padding: 15px 20px;
      border-radius: 4px;
      margin-left: 40%;
      text-decoration: none;
      cursor: pointer;
    }
    img {
      position: absolute;
      bottom: 0px;
      left: 50px;
    }
  }
}


@media only screen and (max-width: 600px) { 
  .digital-header-wrapper {
    background-position: bottom center;
    background-size: 90%;
    min-height: 85vh;
    .digital-header-content-wrapper {
      width: 100%;
    padding: 10px 15px 40px; 
    h2 {
      font-size: 28px;
      margin-bottom: 15px;
      margin-left: 0;
    }
    p {
      font-size: 16px;
      width: 100%;
      margin-bottom: 10px;
      margin-left: 0;
    }
    }
  }
  .second-row-wrapper {
    padding: 30px 0 0;
    .second-row-content {
      width: 100%;
      padding: 30px 15px 50px;
      display: flex;
      flex-direction: column;
      box-shadow: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      img {
        position: relative;
        order: 1;
        text-align: center;
        width: 200px;
        margin-bottom: 60px;
        right: 0;
        align-self: center;
      }
      h4 {
        order: 2;
        margin-left: 0;
        font-size: 21px;
      }
      p {
        order: 3;
        margin-left: 0;
        font-size: 17px;
        width: 100%;
      }
      a {
        order: 4;
        margin-left: 0;
        width: 100px;
        font-size: 14px;
        margin-top: -30px;
      }
    }
  }
  .third-row-wrapper {
    padding-top: 30px;
    .third-row-content {
      width: 100%;
      padding: 30px 15px;
      display: flex;
      flex-direction: column;
      box-shadow: none;
      img {
        position: relative;
        order: 1;
        text-align: center;
        width: 200px;
        margin-bottom: 30px;
        align-self: center;
        left: 0;
      }
      h4 {
        order: 2;
        margin-left: 0;
        font-size: 21px;
      }
      p {
        order: 3;
        margin-left: 0;
        font-size: 17px;
        width: 100%;
      }
      a {
        order: 4;
        margin-left: 0;
        width: 100px;
        font-size: 14px;
        margin-top: -30px;
      }
    }
  }
}