<div class="third-row-home">
    <div class="third-row-home-content">
      <h3>{{ 'HOME.thirdRow.title' | translate }}</h3>
      <p>{{ 'HOME.thirdRow.description' | translate }}</p>
      <div class="items-wrapper">
        <div class="item-content">
          <h5>{{ 'HOME.thirdRow.item1.title' | translate }}</h5>
          <p>{{ 'HOME.thirdRow.item1.description' | translate }}</p>
        </div>
        <div class="item-content">
          <h5>{{ 'HOME.thirdRow.item2.title' | translate }}</h5>
          <p>{{ 'HOME.thirdRow.item2.description' | translate }}</p>
        </div>
        <div class="item-content">
          <h5>{{ 'HOME.thirdRow.item3.title' | translate }}</h5>
          <p>{{ 'HOME.thirdRow.item3.description' | translate }}</p>
        </div>
        <div class="item-content">
          <h5>{{ 'HOME.thirdRow.item4.title' | translate }}</h5>
          <p>{{ 'HOME.thirdRow.item4.description' | translate }}</p>
        </div>
        <div class="item-content">
          <h5>{{ 'HOME.thirdRow.item5.title' | translate }}</h5>
          <p>{{ 'HOME.thirdRow.item5.description' | translate }}</p>
        </div>
        <div class="item-content">
          <h5>{{ 'HOME.thirdRow.item6.title' | translate }}</h5>
          <p>{{ 'HOME.thirdRow.item6.description' | translate }}</p>
        </div>
      </div>
    </div>
  </div>