<footer>
  <div class="footer-wrapper">
    <div class="links-wrapper">
      <div class="column-link-wrapper">
        <p>{{ 'FOOTER.firstColumn.title' | translate }}</p>
        <a>{{ 'FOOTER.firstColumn.link1' | translate }}</a>
        <a>{{ 'FOOTER.firstColumn.link2' | translate }}</a>
        <a>{{ 'FOOTER.firstColumn.link3' | translate }}</a>
        <a>{{ 'FOOTER.firstColumn.link4' | translate }}</a>
        <a>{{ 'FOOTER.firstColumn.link5' | translate }}</a>
        <a>{{ 'FOOTER.firstColumn.link6' | translate }}</a>
      </div>
      <div class="column-link-wrapper">
        <p>{{ 'FOOTER.secondColumn.title' | translate }}</p>
        <a>{{ 'FOOTER.secondColumn.link1' | translate }}</a>
        <a>{{ 'FOOTER.secondColumn.link2' | translate }}</a>
        <a>{{ 'FOOTER.secondColumn.link3' | translate }}</a>
        <a>{{ 'FOOTER.secondColumn.link4' | translate }}</a>
      </div>
      <div class="column-link-wrapper">
        <p>{{ 'FOOTER.thirdColumn.title' | translate }}</p>
        <a>{{ 'FOOTER.thirdColumn.link1' | translate }}</a>
        <a>{{ 'FOOTER.thirdColumn.link2' | translate }}</a>
        <a>{{ 'FOOTER.thirdColumn.link3' | translate }}</a>
        <a>{{ 'FOOTER.thirdColumn.link4' | translate }}</a>
        <a>{{ 'FOOTER.thirdColumn.link5' | translate }}</a>
      </div>
      <div class="column-link-wrapper">
        <p>{{ 'FOOTER.fourthColumn.title' | translate }}</p>
        <a>{{ 'FOOTER.fourthColumn.link1' | translate }}</a>
        <a>{{ 'FOOTER.fourthColumn.link2' | translate }}</a>
        <a>{{ 'FOOTER.fourthColumn.link3' | translate }}</a>
        <a>{{ 'FOOTER.fourthColumn.link4' | translate }}</a>
      </div>
      <div class="column-link-wrapper">
        <p>{{ 'FOOTER.fifthColumn.title' | translate }}</p>
        <a>{{ 'FOOTER.fifthColumn.link1' | translate }}</a>
        <a>{{ 'FOOTER.fifthColumn.link2' | translate }}</a>
      </div>
    </div>
    <div class="language-selector">
      <p>Español</p>
      <p>English</p>
    </div>
    <div class="logos-wrapper">
      <div class="main-logo">
        <img src="assets/images/logo-white.svg" alt="">
      </div>
      <div class="policy">
        <a>Política de Privacidad</a>
      </div>
      <div class="social-networks">
        <!-- <img src="assets/images/facebook.svg" alt="">
        <img src="assets/images/instagram.svg" alt="">
        <img src="assets/images/youtube.svg" alt="">
        <img src="assets/images/google.svg" alt="">
        <img src="assets/images/twitter.svg" alt=""> -->
        <a href="https://www.linkedin.com/company/padeco-global" target="_blank">
          <img src="assets/images/linkedin.svg" alt="" class="linkedin">
        </a>
      </div>
    </div>
  </div>
</footer>
