<div class="country-wrapper">
  <div class="country-content-wrapper">
    <div class="left-wrapper">
      <h2>{{ 'COSTARICA.header.title' | translate }}</h2>
      <p>{{ 'COSTARICA.header.description1' | translate }}</p>
      <p>{{ 'COSTARICA.header.description2' | translate }}</p>
      <p>{{ 'COSTARICA.header.description3' | translate }}</p>
    </div>
    <div class="right-wrapper">
      <img src="assets/images/costa-rica-big.svg" alt="">
    </div>
  </div>
</div>
<div class="second-row">
  <img src="assets/images/costa-rica-flag.svg" alt="">
  <h3>{{ 'COSTARICA.secondRow.title' | translate }}</h3>
  <p>{{ 'COSTARICA.secondRow.description' | translate }}</p>
  <ul>
    <li><img src="assets/images/check-green.svg" alt="">{{ 'COSTARICA.secondRow.listItem1' | translate }}</li>
    <li><img src="assets/images/check-green.svg" alt="">{{ 'COSTARICA.secondRow.listItem2' | translate }}</li>
    <li><img src="assets/images/check-green.svg" alt="">{{ 'COSTARICA.secondRow.listItem3' | translate }}</li>
    <li><img src="assets/images/check-green.svg" alt="">{{ 'COSTARICA.secondRow.listItem4' | translate }}</li>
    <li><img src="assets/images/check-green.svg" alt="">{{ 'COSTARICA.secondRow.listItem5' | translate }}</li>
    <li><img src="assets/images/check-green.svg" alt="">{{ 'COSTARICA.secondRow.listItem6' | translate }}</li>
    <li><img src="assets/images/check-green.svg" alt="">{{ 'COSTARICA.secondRow.listItem7' | translate }}</li>
    <li><img src="assets/images/check-green.svg" alt="">{{ 'COSTARICA.secondRow.listItem8' | translate }}</li>
    <li><img src="assets/images/check-green.svg" alt="">{{ 'COSTARICA.secondRow.listItem9' | translate }}</li>
  </ul>
</div>
<div class="third-row">
  <h3>{{ 'COSTARICA.thirdRow.title' | translate }}</h3>
  <p>{{ 'COSTARICA.thirdRow.description' | translate }}</p>
  <div class="items-wrapper">
    <div class="item-why">
      <img src="assets/images/porque-tradicional-1.svg" alt="">
      <h4>{{ 'COSTARICA.thirdRow.item1.title' | translate }}</h4>
      <p>{{ 'COSTARICA.thirdRow.item1.description1' | translate }}</p>
      <p>{{ 'COSTARICA.thirdRow.item1.description2' | translate }}</p>
    </div>
    <div class="item-why">
      <img src="assets/images/porque-tradicional-2.svg" alt="">
      <h4>{{ 'COSTARICA.thirdRow.item2.title' | translate }}</h4>
      <p>{{ 'COSTARICA.thirdRow.item2.description1' | translate }}</p>
      <p>{{ 'COSTARICA.thirdRow.item2.description2' | translate }}</p>
    </div>
    <div class="item-why">
      <img src="assets/images/porque-tradicional-3.svg" alt="">
      <h4>{{ 'COSTARICA.thirdRow.item3.title' | translate }}</h4>
      <p>{{ 'COSTARICA.thirdRow.item3.description1' | translate }}</p>
      <p>{{ 'COSTARICA.thirdRow.item3.description2' | translate }}</p>
    </div>
    <div class="item-why">
      <img src="assets/images/porque-tradicional-4.svg" alt="">
      <h4>{{ 'COSTARICA.thirdRow.item4.title' | translate }}</h4>
      <p>{{ 'COSTARICA.thirdRow.item4.description1' | translate }}</p>
      <p>{{ 'COSTARICA.thirdRow.item4.description2' | translate }}</p>
    </div>
    <div class="item-why">
      <img src="assets/images/porque-tradicional-5.svg" alt="">
      <h4>{{ 'COSTARICA.thirdRow.item5.title' | translate }}</h4>
      <p>{{ 'COSTARICA.thirdRow.item5.description1' | translate }}</p>
      <p>{{ 'COSTARICA.thirdRow.item5.description2' | translate }}</p>
    </div>
    <div class="item-why">
      <img src="assets/images/porque-tradicional-6.svg" alt="">
      <h4>{{ 'COSTARICA.thirdRow.item6.title' | translate }}</h4>
      <p>{{ 'COSTARICA.thirdRow.item6.description1' | translate }}</p>
      <p>{{ 'COSTARICA.thirdRow.item6.description2' | translate }}</p>
    </div>
  </div>
</div>
<app-oportunidad></app-oportunidad>
<app-oficinas></app-oficinas>