<div class="office-wrapper">
  <div class="office-content-wrapper">
    <h3>{{ 'OFFICE.title' | translate }}</h3>
    <p>{{ 'OFFICE.subtitle' | translate }}</p>
    <div class="cities-wrapper">
      <div class="city-item">
        <img src="assets/images/madrid.jpg" alt="">
        <p>Madrid</p>
      </div>
      <div class="city-item">
        <img src="assets/images/valencia.jpg" alt="">
        <p>Valencia</p>
      </div>
      <div class="city-item">
        <img src="assets/images/sevilla.jpg" alt="">
        <p>Sevilla</p>
      </div>
    </div>
  </div>
</div>


